<h1>New Dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.input :ingredient_id, collection: Ingredient.all, placeholder: "cheese" %>
<%= f.input :description, placeholder: "15ml" %>

<%= f.submit "post ingredient", class: "btn btn-primary" %>
<% end %>


